/* Target tags using the tag {option = somethong} */
body {
    color: grey;
    /* cascades to all other classes */
    /* use this section to set things at the website level */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb( 30, 30, 30);
    font-family: Arial;
    font-weight: bolder;
}

h2, h3, h4 {
    color: rgb( 70, 70, 70);
    font-weight: lighter;

}

p {
    color: grey;
    font-family: Helvetica;
}


/* targeting with class, add the class as an option in the html, target here with . */
/* classes are more specific than tags, hences this css applies more than with tags */

.avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.intro-paragraph-hellloo{
    font-size: 17px;
    color: rgb(50, 100, 250);
}

/* targeting with # */

#specific-cat {
    height: 50px;
    border-radius: 30%;
}